<div class="main-signup-container">
<div class="signup-container">
<h2 class="signup">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, class:"name-label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"name-input", placeholder:"Email" %>
  </div>

  <div class="field">
    <%= f.label :name, class:"name-label" %><br />
    <%= f.text_field :name , class:"name-input", placeholder:"name" %>
  </div>

  <div class="field">
    <%= f.label :password, class:"name-label" %>
    <% if @minimum_password_length %>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"name-input", placeholder:"Password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class:"name-label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"name-input", placeholder:"Password confirmation" %>
  </div>

  <div class="field">
    <%= f.label :role %>
    <%= f.select :role, options_for_select(['admin', 'user'], 'user') %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class:"signup-button" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>
</div>
