<div class="main-container">
    <div class="show-container">
    <%= render partial: 'shared/user', locals: { user: @user } %>
            <div class="bio-container">
                <p class="space">Bio</p>
                <p class="space"><%= @user.bio %></p>
            </div>
        
            <%= render partial: 'shared/user_posts', locals: { posts: @user.posts, ren: 1 } %>
        <button class="all-posts"><%= link_to 'See all posts', user_posts_path(@user) %></button>
        <%= link_to 'Cerrar sesión', logout_path, method: :delete %>
    </div>
</div>
