<div class="main-containers">
  <%= render 'shared/header'%>
  <div class="post-text">
    <div class="header-content"> 
      <div class="user-info">
        <h1 class="post-by">Post n°<%= @post.id %> by <%=@user.name %></h1>
        <p class="comment-likes">Comments: <%= @post.comments_counter %> Likes: <%= @post.likes_counter %></p>
      </div>
      <p class="post-content"><%= @post.text %></p>
    </div>
        <%= render 'shared/comments', post: @post %>   
        <%= link_to 'Create comment', new_user_post_comment_path(@user.id, @post.id), class:'comment-btn comm-border' %>     
  </div>
</div>